@{
    ViewData["Title"] = "Add Employee";
}
@model TL2_TP2.Models.Employee


<div class="container text-center">
    <h1 class="display-4">Employee</h1>
    <form asp-area="" asp-controller="Employee" asp-action="Show" class="container w-50">
        <input type="text" class="form-control my-3" name="LastName" placeholder="LastName"/>
        <input type="text" class="form-control my-3" name="Name" placeholder="Name"/>
        <input type="number" class="form-control my-3" name="Dni" placeholder="DNI"/>
        <input type="date" class="form-control my-3" name="BirthDay" placeholder="Birthday"/>
        <input type="text" class="form-control my-3" name="Address" placeholder="Address"/>
        <input type="date" class="form-control my-3" name="EntryDate" placeholder="Entry Date"/>
        <input type="number" class="form-control my-3" name="BasicSalary" placeholder="Basic Salary"/>
        <input type="submit" class="btn btn-primary my-3 w-75" value="Send"/>
    </form>
</div>